<%- include('header') %> 

<div class="container-fluid section1">

    <div class="container">
        <div class="row  justify-content-center">
            <div class="col" style="text-align: center;">
                <img src="/iitk.png" id="iitk" alt="">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-3 motu">
                SoCE, IITK
            </div>
        </div>
    </div>

</div>


<div class="container-fluid doraemon">

    <div class="row bcs" style="text-align: center;"> <h2 id="bcs"> <u> Projects 2021-22</h2> </u> </div>

    <div class="row">
        <div class="col  lime">
            To register, fill this form latest by 27th March, 11:59 PM - here And join the Stamatics discord server, to interact with the mentors and any other communication- invite link
        </div>
    </div>

    <div class="container letter">
        <div class="row">
            <% data.forEach(function(chomu){ %> 
            <div class="col-sm-4 paper">
                <a href=<%=chomu.link%> >
                    <img src="/2.png" alt="">
                    <p id="text"> <%=chomu.title%>  </p>
                </a>
               
            </div>
            <% }) %> 
        </div>
    </div>

</div>


<%- include('footer') %> 